<div style="float:left">
  <% @events[team_member.id].each do |date, events| %>
    <h3><%= date %></h3>
    <ul>
    <% events.each do |event| %>
      <% event[:commits].each do |commit| %>
        <li>
          <%= commit[:repo] %> -
          <%= commit[:message] %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end if @events[team_member.id].present? %>
</div>
