<div style="float:left">
  <% @events[team_member.id].group_by {|c| c[:date] }.each do |date, commits| %>
    <h3><%= date %></h3>
    <ul>
    <% commits.each do |commit| %>
      <li>
        <%= commit[:repo] %> -
        <%= commit[:message] %>
      </li>
    <% end %>
    </ul>
  <% end if @events[team_member.id].present? %>
</div>
