<div style="float:left">
  <% @events[team_member.id].group_by {|c| c[:date] }.each do |date, commits| %>
    <h3><%= date %></h3>
    <ul>
    <% commits.each do |commit| %>
      <li>
      <%= link_to("#{commit[:repo]} - #{commit[:message]}", "http://github.com/#{commit[:repo]}/commit/#{commit[:sha]}", target: '_blank') %>
      </li>
    <% end %>
    </ul>
  <% end if @events[team_member.id].present? %>
</div>
