<div style="float:left">
  <% @events[nickname].each do |date, events| %>
    <h3><%= date.strftime('%a, %b %e %Y') %></h3>
    <ul>
    <% events.each do |event| %>
      <% event.payload.commits.select(&:distinct).each do |commit| %>
        <li>
          <%= event.repo.name.split('/').last %> -
          <%= commit.message %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end if @events[nickname].present? %>
</div>
