<table border="0">
  <tr>
    <% %w[Su M T W Th F S].each do |day| %>
      <th><%= day %></th>
    <% end %>
  </tr>
  <% if @marches[team_member] %>
    <tr>
      <% Date.today.beginning_of_week(:sunday).step(Date.today.end_of_week(:sunday)) do |day| %>
        <td>
          <% if @marches[team_member][day] && (@marches[team_member][day][:amount] > 4 || (1..5).include?(day.wday)) %>
            <i class="icon-circle" style="color:<%= @marches[team_member][day][:color] %>" title="<%= @marches[team_member][day][:amount] %>"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
