<h2>Josh</h2>
<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.k9Py = {};
rtapi.k9Py.title = 'Efficiency  Summary';
rtapi.k9Py.kind = 'sidebar';
rtapi.k9Py.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivk9Py" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B639Py5TA_pxwuJ7KUPBfueMeEjj9ISifNxF9sgw" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>

<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.k4_q = {};
rtapi.k4_q.title = 'All Categories ';
rtapi.k4_q.kind = 'sidebar';
rtapi.k4_q.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivk4_q" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B634_qX5hTM0cdwXGR8dbut5Pe6zE9Rr7khgueOC" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>
<div style="clear:both"></div>

<%= render 'events', nickname: 'twinge' %>
<div style="clear:both"></div>

<h2>Bill</h2>
<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kVng = {};
rtapi.kVng.title = 'Efficiency  Summary';
rtapi.kVng.kind = 'sidebar';
rtapi.kVng.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkVng" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63VngAXTeHwOamzeN4zENiOD16wLx6riAOAq5nb" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>


<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kcTa = {};
rtapi.kcTa.title = 'All Categories ';
rtapi.kcTa.kind = 'sidebar';
rtapi.kcTa.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkcTa" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63cTav8thV2JRduZF8Zwtnv5DRSQCRCF16y2Kmn" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>
<div style="clear:both"></div>

<%= render 'events', nickname: 'wrandall22' %>
<div style="clear:both"></div>

<h2>Matt</h2>
<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kogz = {};
rtapi.kogz.title = 'Efficiency  Summary';
rtapi.kogz.kind = 'sidebar';
rtapi.kogz.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkogz" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63ogzNEgJbAuCpIJp7HgBx5Mxyz7AWcV0C5liyB" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>
<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kCGE = {};
rtapi.kCGE.title = 'All Categories ';
rtapi.kCGE.kind = 'sidebar';
rtapi.kCGE.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkCGE" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63CGEnCMmgHlt_PR_fKOihHveVpD0GLpHoBL4H6" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>

<div style="clear:both"></div>

<%= render 'events', nickname: 'mattdrees' %>
<div style="clear:both"></div>

