<h2>Josh</h2>
<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kIV3 = {};
rtapi.kIV3.title = 'Efficiency  Summary';
rtapi.kIV3.kind = 'sidebar';
rtapi.kIV3.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkIV3" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63IV3cdYXWWZkXd5YpCIuIHQXvv2ngDam58fc2C" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>
<!-- a little how-to
- Paste this into your web page where you want the chart.
- You may have multiple embedded charts on the same page.
- You can change the title, width and height by editing the named properties.
- You can opt for the more verbose full chart by setting .kind to 'default'.
- If you want your own css control, you can add 'rtapi.my_css = true;' before the render function.
- css class names are:
-   rtdiv : the whole container
-   rttitle : the title, rtchart : the chart, rtfeed : the footer
-->

<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kF3Q = {};
rtapi.kF3Q.title = 'All Categories ';
rtapi.kF3Q.kind = 'sidebar';
rtapi.kF3Q.styling = { width:300, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkF3Q" style="float:left"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63F3QTZIF3zSzhOA8AJ9oVGtrTS_F8MHCGMDGoZ" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>

<div style="float:left">
  <% @events.each do |date, events| %>
    <h3><%= date.strftime('%a, %b %e %Y') %></h3>
    <ul>
    <% events.each do |event| %>
      <% event.payload.commits.select(&:distinct).each do |commit| %>
        <li>
          <%= event.repo.name.split('/').last %> -
          <%= commit.message %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>
