<% @orgs.each do |org, repos| %>
  <h2><%= org %></h2>
  <ul>
    <% repos.each do |repo| %>
      <li>
        <%= link_to(repo.name, details_repos_path(name: repo.full_name)) %>
        <%= " - #{repo.description}" if repo.description.present? %>
      </li>
    <% end %>
  </ul>
<% end %>
